*,
*::before,
*::after {
	box-sizing: border-box;
}

h5 {
	display: inline-block;
}

.App {
	display: flex;
	text-align: center;
	padding: 20px 40px;
	margin: 10px;
}

.main {
	width: 350px;
	padding: 5px;
	border: 2px solid black;
	border-radius: 15px;
}

.sidebar {
	width: 550px;
}

.main-top-strip {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
}

.sidebar-top-strip {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-inline: 20px;
}

.usersList {
	list-style: none;
	margin: 0;
	padding: 0;
}

.userItem {
	text-align: start;
	padding: 0 20px 3px 20px;
	margin: 5px 0;
	border: 2px solid;
}

.userItem > p:first-child {
	cursor: pointer;
}

.userItem input {
	float: right;
	/* margin-inline-end: 40px; */
	width: 70%;
}

.todos-list,
.posts-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.todo-item,
.post-item {
	text-align: start;
	padding: 0 20px 3px 20px;
}

.todo-item > div,
.post-item > div {
	border: 1px solid purple;
}

.other-data-container {
	border: 2px solid black;
	border-radius: 10%;
	background-color: #ccc;
	padding: 10px;
	margin: 5px 0;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.selected {
	background-color: #edbc61;
}

.float-right {
	float: right;
}

.btn-yellow {
	background-color: #f1d5a1;
	border: 1px solid lightblue;
	padding: 5px 10px;
}

.btn-grey {
	background-color: #bbb;
	border: none;
	padding: 5px 10px;
}

.bg {
	border-color: green;
}

.br {
	border-color: red;
}

li.todo-item > div {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

li.todo-item button {
	margin-bottom: 1rem;
	flex-shrink: 0;
}
